* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Rubik";
}

body {
  margin: 0;
}

.link-navbar {
  color: #fff;
  text-decoration: none;
}

.link-navbar:hover {
  text-decoration: underline #fff;
}